<div class="panel panel-default">
  <div class="panel-heading">
    微信活动 <span class="sub-title">(共{{ctrl.events.length}}个)</span>
    <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-success" ui-sref="^.add()">
        <i class="fa fa-plus"></i>
      </a>
    </span>
  </div>

  <div class='list-group'>
    <div ng-repeat="item in ctrl.events" class="list-group-item">
     <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: item.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: item.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
      <h4 class="list-group-item-heading">
        <a href="" ui-sref="^.view({id: item.id})">{{item.name}}</a>
        <a href="{{APP_CONFIG.mUrl}}{{item.url}}" target="_blank">查看</a>
      </h4>

      <p class="list-group-item-text">
        <span class="status">【{{item.status | eventStatus}}】</span>
        {{item.startDate | date:'yyyy-MM-dd HH:mm:ss'}}
        <span ng-if="item.endDate"> - {{item.endDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
      </p>
    </div>

    <ul uib-pagination total-items="ctrl.total" ng-model="ctrl.page" ng-click="ctrl.query()" items-per-page="ctrl.limit" previous-text="上一页" next-text="下一页" max-size="5" first-text="<<" last-text=">>" boundary-links="true" rotate="false"></ul>
    <div ng-show="!ctrl.events.length" class="list-group-item">
      <h4 class="list-group-item-heading">
        当前没有活动
      </h4>

      <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a> to add a event!</p>
    </div>
  </div>

</div>
